* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(20, 163, 59);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(28, 69, 158);
}

.navbar>h2>a {
  text-decoration: none;
  margin-left: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

nav>ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 40px;
}

nav>ul>li>a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}